<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/stylesheets/project_choice.css">
    </head>
    <body>
        <nav>
            <ul>
                <li><a href="">TODO</a></li>
                <li><a href="" class="owner"><%= owner %></a></li>
                <li><form action="/users/admit_page" method = "get"> 
                    <input type="submit" value="친구 초대"/>
                </form></li>
                <li><form action="/signout" method = "get"> 
                    <input type="submit" value="로그아웃"/>
                </form></li>
            </ul>
            <div class="right">menu</div>
        </nav>

        <section class="main">
            <input type="button" class="board" value="mine"/>

            <% for (let i=0; i<admitted.length; i++) {%>
                <% if (admitted[i].user){ %>
                    <input type="button" class="board" value="<%=admitted[i].user%>"/>
                <% } else { %>
                    <input type="button" class="board" value="<%=admitted[i].user_id%>"/>
                <% } %>
            <% } %>
        </section>
        <script type="text/javascript" src="/javascripts/project_choice.js"></script></body>
    </body>
</html>
