<html lang="ko">

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
    <link rel="stylesheet" href="/stylesheets/signin.css">
    <title>hello</title>
</head>

<body>
    <section id="signin_page">
        <div class="form-group"><input class="form-control" id="signin_id_input" type="email" aria-describedby="emailHelp" placeholder="아이디" name="signin_id" /><small class="form-text text-muted" id="signin_id_small"></small></div>
        <div class="form-group"><input class="form-control" id="signin_pw_input" type="password" placeholder="비밀번호" name="signin_password" /><small class="form-text text-muted" id="signin_pw_small"></small></div>
        <div class="form-group"><button class="btn btn-primary first" id="sign_in_button" type="button">로그인</button></div>
    </section>
<script type="text/javascript" src="/javascripts/signin.js"></script></body>

</html>